---
layout: default
---

<div class="grid md:grid-cols-2 gap-8">
  <div class="bg-gradient-to-br from-purple-400 via-purple-200 to-blue-200 rounded-lg p-1">
    <a class="bg-white rounded-md block text-xl px-6 py-5 flex flex-col gap-1 md:px-12 md:py-10 md:gap-4 md:text-3xl" href="/docs/guild-loot-and-distribution">
      <span class="font-bold underline text-violet-900">Loot Distribution</span>
      <span class="block text-base md:text-lg">How we collect and distribute loot to guild members.</span>
    </a>
  </div>
</div>