<nav class="py-4 mb-4 md:mb-10 flex gap-4">
  <a href="/" class="flex items-center md:text-xl font-bold underline">
    Root</a>
  </a>
  <a href="/updates" class="flex items-center md:text-xl font-bold underline">
    Updates</a>
  </a>
</nav>
